ul.agent-tab
    li.tab-filter
       ul
            li(*for="tab of tabs") {{ tab.name }}
    li.tab-search
        .input-group
            label(for="search-input")
                i.icon-search
            input(id="search-input")
    li.tab-th
        i.icon-th-card
        i.icon-th-list.active
