ul.agent-list
    li(*for="item of agentList")
        .agent-list-item([building]="item.status === 'building'")
            .logo
                img([src]="item.icon")
            .detail
                ul.detail-header
                    li
                        i.icon-desktop
                        span.detail-title {{ item.title }}
                    li
                        .agent-status.status-building(*if="item.status === 'building'") {{ item.status }}
                        .agent-status(*else) {{ item.status }}
                    li
                        i.icon-info {{ item.ip }}
                    li
                        i.icon-folder {{ item.folderName }}
                .detail-bottom
                    button.add-button(click="addTag(item)")
                        i.icon-plus
                        
                    ul.tags
                        li(*for="tag of item.tags")
                            span {{ tag }}
                            i.icon-trash
                    
                    button.deny-button(click="deny(item)")
                        i.icon-deny
                        span Deny


