ul.agent-list
    li(*for="item of testList")
        .agent-list-item
            img([src]="item.icon")
            .detail
                .detail-header
                    table
                        td
                            i.icon-desktop
                            span.detail-title {{ item.title }}
                        td
                            .agent-status.status-building(*if="item.status === 'building'") {{ item.status }}
                            .agent-status(*if="item.status === 'idle'") {{ item.status }}
                        td
                            i.icon-info {{ item.ip }}
                        td
                            i.icon-folder {{ item.folderName }}
                .detail-bottom
                    button.add-button(click="addTag(item)")
                        i.icon-plus
                        
                    ul.tags
                        li(*for="tag of item.tags")
                            i.icon-trash
                            span {{ tag }}
                    
                    button.deny-button(click="deny(item)")
                        i.icon-deny
                        span Deny


