extends layout.pug

block header
    include cruise/header.pug
block leftside
    include cruise/leftside.pug
block right-side
    include cruise/right-side.pug
block footer
    include cruise/footer.pug