aside.cruise-left
    ul.nav
        li
            i.icon-dashboard
            span.title DASHBOARD
        li.active
            i.icon-sitemap
            span.title AGENT
        li
            i.icon-boat
            span.title MY CRUISE
        li
            i.icon-life-bouy
            span.title HELP