aside.cruise-left
    div
        ul.nav
            li(*for="navItem of navList")
                .nav-item-container([active]="navItem.active")
                    i([class]="navItem.icon")
                    span.title {{ navItem.name }}
            